body {
  background-color: #e8eaf6;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Header */

.navbar.navbar-default {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #113b92;
  border-radius: 0px;
  color: white;
}

.navbar-header .navbar-brand {
  color: white;
}

.navbar-header:hover {
  background-color: #113b92;
}

.navbar-header .navbar-brand:hover {
  color: white;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
  border-bottom: 2px solid #113b92;
}

.nav.navbar-nav.navbar-right li:hover a {
  border-bottom: 2px solid white;
}

/* Main */

#main-page .jumbotron {
  padding-left: 50px;
  background-color: white;
  border: 1px solid #113b92;
  border-radius: 5px
}

/* Stations */

#stations-page .panel.panel-default {
  background-color: white;
  border: 1px solid #113b92;
  border-radius: 5px;
  padding-bottom: 30px;
}

#stations-page h2 {
  color: #113b92;
}

/* ListOfStations */
.list-of-station {
  padding-bottom: 50px;
}

/* ListOgBuses */
.nav.nav-pills.nav-justified li a {
  font-size: 25px;
}

.nav.nav-pills.nav-justified li a:hover {
  background-color: #113b92;
  color: white;
}

.nav.nav-pills.nav-justified li a:focus {
  background-color: #113b92;
  color: white;
}
